## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("c:/Users/m_201/Downloads/CLASSWORK_PROJECTS_2/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City_ID.1,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,0,Atuona,PF,81.10,scattered clouds,-9.8000,-139.0333,Villa Enata
1,1,2,Mahebourg,MU,78.80,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,2,5,Puebloviejo,CO,84.99,overcast clouds,10.9938,-74.2844,The Journey Hostel
3,3,9,Buraydah,SA,80.60,broken clouds,26.3260,43.9750,فندق راحة السلام
4,4,11,Hobyo,SO,80.78,clear sky,5.3505,48.5268,Halane Hotel and Restaurent

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# TRIP TO MEXICO!
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Cabo San Lucas") & (vacation_df["Country"]== "MX")] 
vacation_end = vacation_df.loc[(vacation_df["City"] == "Cabo San Lucas") & (vacation_df["Country"] == "MX")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Ixtapa") & (vacation_df["Country"]== "MX")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "La Ermita") & (vacation_df["Country"]== "MX")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Panaba") & (vacation_df["Country"]== "MX")] 


print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your Frist Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])                                     
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])

40    Your Starting Destination is Cabo San Lucas, MX
dtype: object
118    Your Frist Stop is Ixtapa, MX
dtype: object
195    Your Second Stop is La Ermita, MX
dtype: object
189    Your Thirth Stop is Panaba, MX
dtype: object
40    Your Last Stop in your vacation is Cabo San Lu...
dtype: object

In [6]:
# 6a. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start ["Lat"].to_numpy()[0], vacation_start ["Lng"].to_numpy()[0])
start

(22.8909, -109.9124)

In [7]:
# 6c. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
stop1 =  (vacation_stop1 ["Lat"].to_numpy()[0], vacation_stop1 ["Lng"].to_numpy()[0])
stop1

(20.7, -105.2)

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
stop2 =  (vacation_stop2 ["Lat"].to_numpy()[0], vacation_stop2 ["Lng"].to_numpy()[0])
stop2

(20.4139, -101.9936)

In [9]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
stop3 =  (vacation_stop3 ["Lat"].to_numpy()[0], vacation_stop3 ["Lng"].to_numpy()[0])
stop3

(21.2833, -88.2667)

In [10]:
# 6b. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
end =  (vacation_end ["Lat"].to_numpy()[0], vacation_end ["Lng"].to_numpy()[0])
end

(22.8909, -109.9124)

In [11]:
# Print Vacation DF.
vacation_df.head(10)

,City_ID,City_ID.1,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,0,Atuona,PF,81.10,scattered clouds,-9.8000,-139.0333,Villa Enata
1,1,2,Mahebourg,MU,78.80,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,2,5,Puebloviejo,CO,84.99,overcast clouds,10.9938,-74.2844,The Journey Hostel
3,3,9,Buraydah,SA,80.60,broken clouds,26.3260,43.9750,فندق راحة السلام
4,4,11,Hobyo,SO,80.78,clear sky,5.3505,48.5268,Halane Hotel and Restaurent
5,5,12,Vaini,TO,84.20,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
6,6,13,Bambous Virieux,MU,78.80,light rain,-20.3428,57.7575,Casa Tia Villa
7,7,14,Riberalta,BO,78.80,broken clouds,-10.9833,-66.1000,Hotel Colonial
8,8,16,Ternate,ID,81.46,overcast clouds,0.8000,127.4000,Grand Dafam Bela Ternate
9,9,18,Phuket,TH,84.99,scattered clouds,8.0000,98.2500,The Surin Phuket

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# cities = L.layerGroup([Cabo San Lucas, Ixtapa, La Ermita, Panaba]);
# USING DRIVING MODE

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (22.8909, -109.9124)
stop1 = (20.7, -105.2)
stop2 = (20.4139, -101.9936)
stop3 = (21.2833, -88.2667)
end = (22.8909, -109.9124)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
symbols = gmaps.symbol_layer(
        locations, fill_color='red', stroke_color='red')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City_ID.1,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,41,130,Cabo San Lucas,MX,86.00,few clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
1,125,388,Ixtapa,MX,77.00,clear sky,20.7000,-105.2000,Hotel Plaza Providencia
2,207,662,La Ermita,MX,82.72,clear sky,20.4139,-101.9936,AUTO-HOTEL BERVELY HILLS
3,201,641,Panaba,MX,80.73,few clouds,21.2833,-88.2667,Posada rosario
4,41,130,Cabo San Lucas,MX,86.00,few clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dt> and {Max Temp} °F</dd>
</dl>
"""

In [27]:
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))